body{
   display:flex;
   flex-direction: column;
}
#container{
    flex-wrap: wrap;
    display:flex;
    width:640px;
    height:640px;
    margin: 0 auto;
    border:2px solid black;
}
#buttons{  
display:flex;
justify-content: center;
margin:10px;
}
button{
    margin:10px;
}